{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template block_customdashboard/zoom-classes-card

Reusable Zoom Classes Card component.

Context variables required for this template:
* zoomclasses - Object with zoom classes data
* buttonlabel - String for the button label (join or startjoin)
}}

<div class="hw-grid-wrap p-4" id="zoom-classes-container">

    {{#activities.hasitems}}

    {{#activities.has_today}}
    <p class="hw-section-label">
        <i class="fa fa-circle-exclamation me-1" style="color:#e65100;font-size:18px;"></i>
        Needs attention
    </p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-3 g-3 mb-4 zoom-class-wrapper">
        {{#activities.today}}
        {{> block_customdashboard/components/liveclass}}
        {{/activities.today}}
    </div>
    {{/activities.has_today}}

    {{#activities.has_upcoming}}
    <p class="hw-section-label">
        <i class="fa fa-calendar-days me-1" style="color:#1a73e8;font-size:18px;"></i>
        Upcoming
    </p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-3 g-3 mb-4 zoom-class-wrapper">
        {{#activities.upcoming}}
            {{> block_customdashboard/components/liveclass}}
        {{/activities.upcoming}}
    </div>
    {{/activities.has_upcoming}}

    {{#activities.has_ended}}
    <p class="hw-section-label">
        <i class="fa fa-circle-check me-1" style="color:#137333;font-size:18px;"></i>
        Ended
    </p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-3 g-3 mb-4 zoom-class-wrapper">
        {{#activities.ended}}
            {{> block_customdashboard/components/liveclass}}
        {{/activities.ended}}
    </div>
    {{/activities.has_ended}}
    {{/activities.hasitems}}

    {{^activities.hasitems}}
    <div class="text-center py-5">
        <div class="empty-icon mb-3 opacity-25">
            <i class="fa fa-calendar-o fa-4x"></i>
        </div>
        <p class="text-muted fw-bold">{{#str}}nozoomclasses, block_customdashboard{{/str}}</p>
    </div>
    {{/activities.hasitems}}

</div>

<div>
    {{teacher}}
</div>